---
import Hero from '../components/Hero.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Photography from '../components/Photography.astro';
import Contact from '../components/Contact.astro';
import Controls from '../components/Controls.astro';

import '../styles/global.css';
---
<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={`${import.meta.env.BASE_URL}/favicon.svg`} />
		<meta name="viewport" content="width=device-width" />
		<title>Farhan Shahriyar | Portfolio</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	</head>
	 <body>
        <div class="background-blobs">
            <div class="blob-1"></div>
            <div class="blob-2"></div>
        </div>
		<Controls />
		<main class="main-content container mx-auto">
			<Hero />
			<Projects />
			<Skills />
            <Experience />
            <Education />
			<Photography />
			<Contact />
		</main>
		<script>
            import "../scripts/main.js";
			import "../scripts/animations.js";
        </script>
	</body>
</html>